<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <title>Bun x HTMX</title>
</head>
<body>
  <header class="container">
    <hgroup>
      <h1>Bun x HTMX</h1>
      <h2>
        Tutorial by
        <a href="https://youtube.com/@kaizencodes">
          Kaizen Codes
        </a>
      </h2>
    </hgroup>
  </header>
  <main class="container">
    <form hx-post="/todos" hx-target="#todos" hx-ext="json-enc" _="on submit target.reset()">
      <label for="todo">New Todo</label>
      <input id="todo" name="todo" type="text" aria-label="Create Todo" placeholder="New todo">
      <button type="submit">Create</button>
    </form>
    <section id="todos" hx-get="/todos" hx-trigger="load">
    </section>
  </main>
</body>
</html>
